html {
  /* px means "pixels". The base font size is now 12 pixels high */
  font-size: 14px;
  /* Replace PLACEHOLDER with the font-family property value you got from Google Fonts */
  font-family: OPEN SANS;
}

.model-image {
  max-width: 100%;
  height: auto;
  width: 600px;
}

img {
  display: block;
  margin: 9 auto;
  max-width: 100%;
  height: auto;
}

h1 {
  font-size: 40px;
  text-align: center;
}

p,
li {
  font-size: 15px;
  line-height: 2;
  letter-spacing: 0.8px;
}

html {
  background-color: antiquewhite;
}

body {
  width: 80%;
  margin: 0 auto;
  background-color: #edcfa5;
  padding: 0 20px 20px 20px;
  border: 3px solid black;
}

blockquote {
  font-size: 50px;
}

p: :focus-visible,
h2:focus-visible,
h3:focus-visible {
  outline: 3px solid black;
  outline-offset: 4px;
  background-color: white;
}